body {
  display: flex;
  flex-wrap: wrap;
}
.newsCard {
  gap: 15px;
  border: 2px solid black;
  /* border-color: 1px solid red; */
}
.newsParagraph {
  font-size: 24px;
}

.newsInfo {
  width: 100%;
  height: 200px;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  justify-content: center;
  align-items: center;
  background-size: 100%;
}

h2 {
  font-size: 24px;
  vertical-align: middle;
  line-height: 200px;
  color: green;
  text-align: center;
}
.category {
  color: gray;
  justify-content: left;
  font-size: 32px;
}

.date {
  color: gray;
  position: absolute;
  right: 0;
}

.trash {
  /* position: absolute; */
  right: 0;
  top: 0;
  margin: 10px;
  border: none;
}
.heartinactive {
  color: black;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 10px;
  border-radius: 50%;
  background: none;
}

.heartactive {
  color: yellow;
  top: 0;
  right: 0;
  z-index: 999;
  margin: 30px;
  border-radius: 50%;
  background: none;
}
